[Unit]
Description=Your app
After=network.target

[Service]
ExecStart=/home/ben/nasaeveryday/nasaeveryday.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ben/nasaeveryday

[Install]
WantedBy=multi-user.target
